@import "tailwindcss";
#root {
  @apply   w-full flex flex-col text-center items-center justify-center bg-white  ;
  
  margin: 0 auto;
  padding: 2rem;

  
}


@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 128rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  @apply p-6 m-2 w-full text-left  border rounded-lg hover:text-blue-500 focus:text-blue-500;
}

.read-the-docs {
  color: #888;
}

#about {
  @apply text-[#1B1B1F] bg-stone-100 text-sm font-medium leading-normal my-10;
}

h1 {
  @apply text-[#1B1B1F] font-bold text-3xl xs:text-3xl sm:text-4xl lg:text-5xl ;
}

h2 {
  @apply text-[#1B1B1F] font-bold text-2xl xs:text-3xl sm:text-3xl lg:text-4xl ;
}

 h3 {
  @apply text-[#1B1B1F] font-bold text-xl text-center xs:text-2xl sm:text-left sm:max-md:text-amber-300 sm:text-4xl lg:text-5xl   ;
}

 h4 {
  @apply text-[#1B1B1F] font-bold text-3xl xs:text-lg sm:text-2xl lg:text-4xl;
}

 p {
  @apply text-[#1B1B1F] mt-4 text-sm sm:text-base lg:text-lg;
}


#about #card {
  @apply text-blue-500 xs:m-0 xs:py-0.5 sm:m-2 sm:p-4 border rounded-lg;

}

li {
  @apply text-[#1B1B1F] text-sm sm:text-base lg:text-lg;
}

a {
  @apply text-blue-500 hover:underline ml-5;
}
