@import "tailwindcss";




.footer {
    @apply  w-full rounded-b-md bg-[#A66A6A] 
    grid grid-cols-2 grid-rows-3  sm:grid-cols-3 sm:grid-rows-1  pl-4 pr-3 pt-1 pb-2 gap-1;

}

.footer a {
    @apply gap-1 p-2 text-left text-white;

}

.footer-links{
    @apply flex flex-col  mt-1.5 col-span-3 text-center sm:col-span-1 sm:text-left;
}

   

.footer a:hover {
  text-decoration: underline;
}
.footer p{
    @apply col-start-1 col-end-7 text-center font-bold mb-3 text-white;
}

.footer .footer-links {
    @apply   py-0 px-2  mx-1 ;

}

.copy{
    @apply row-start-4 text-center col-span-3 font-bold mb-3 text-white;
}




