@import "tailwindcss";




.footer {
    @apply  w-full rounded-b-md bg-[#A66A6A] 
    grid max-md:grid-cols-1 max-md:grid-rows-3   pl-4 pr-3 pt-1 pb-2 gap-1;

}

.footer a {
    @apply gap-1 p-2 max-md:text-center  text-white;

}

.footer-links{
    @apply flex flex-col  mt-1.5 col-span-3 text-center sm:col-span-1 sm:text-left;
}

   

.footer a:hover {
  text-decoration: underline;
}
.footer p{
    @apply col-start-1 col-end-7 font-bold mb-3 text-white;
}

.h4-footer {
    @apply text-lg max-md:text-center font-semibold mb-2;
}

.footer .footer-links {
    @apply   py-0 px-2  mx-1 ;

}

.copy{
    @apply row-start-4 col-span-3 font-bold text-white;
}




