@import "tailwindcss";




.footer {
    @apply  w-full rounded-b-md bg-[#A66A6A] text-gray-700 text-sm 
    grid grid-cols-3 pl-4 pr-3 pt-1 pb-2 gap-1;

}

.footer a {
    @apply gap-1 p-2 text-left text-white;

}

.footer-links{
    @apply flex flex-col  mt-1.5;
}
.footer h3{ 
    @apply text-lg font-semibold text-start text-[#1B1B1F];
}
   

.footer a:hover {
  text-decoration: underline;
}
.footer p{
    @apply col-start-1 col-end-7 text-center font-bold mb-3 text-white;
}

.footer .footer-links {
    @apply   flex flex-col py-0 px-2  mx-1 ;

}




