@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 128rem;
}
.ImgConterner {

    @apply  flex max-xs:flex-wrap justify-center my-4 gap-5;
    

}

.h2Educacion {
    @apply  text-left text-gray-800 font-bold text-2xl mb-2 pl-5;
    
}

h3,h4 {
    @apply  text-left text-lg font-semibold mb-2 pl-5;
}

p {
    @apply  text-left text-base mb-4 pl-5;
}
.Imgsecu {
    @apply  min-w-28 max-w-2/4 rounded-xl border-solid border-2 border-gray-300;
}

.UniContainer {
    @apply  mb-8;
    
}
 ul {
    @apply  list-disc list-inside pl-20 text-left;
}