@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 128rem;
}

*{
  font-family: 'Tomorrow', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth

}

header {
  @apply flex flex-col md:flex-row items-center justify-between gap-5 whitespace-nowrap border-0 rounded-3xl  px-10 py-3 text-[#3A3A3F];
}

.Div1 {
  @apply flex items-center gap-4;
}

.Div2 {
  @apply flex flex-1 justify-center object-center text-center;
}

.main-title  {
  @apply max-sm:text-lg  text-center font-bold leading-tight tracking-[-0.015em] text-[#FAFAFA];
}

.div2 .div-icons {
  @apply flex items-center gap-2 justify-center mt-3 mb-1 md:gap-5 md:justify-end;
}


.main {
  @apply relative flex size-full rounded-t-3xl mt-1 bg-[#B03A48]   overflow-x-hidden;
}

a {
  @apply text-[#FAFAFA] font-bold text-sm leading-normal;
}

a:hover {
  @apply text-[#0d141c];
}