@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 128rem;
}

*{
  font-family: 'Tomorrow', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

header {
  @apply flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3;
}

.Div1 {
  @apply flex items-center gap-4 text-[#0d141c];
}

.Div2 {
  @apply flex flex-1 justify-end gap-8;
}

h2 {
  @apply text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em];
  
}

.main {
  @apply relative flex size-full bg-amber-700 md:bg-slate-500  md:m-0 sm:bg-amber-200 m-1.5 mt-0.5  overflow-x-hidden;
}